<div class="container container-bgk container-padding">
    <h1 class="secciones">Abrir/Cerrar Caja</h1>
        <form class="container-form">
                <div class="mv-col gastos">
                    <div class="margin-top" style="font-size: 30px; color:#799975; margin-bottom: 20px">¿Deseas abrir Caja?</div>
                </div>
                <div class="mv-col gastos">
                    <div class="margin-top">Saldo Inicial</div>
                </div>
                <div class="mv-col gastos">
                    <input type="text" class="margin-top" value="{{$ctrl.saldoInicial | currency}}" />
                </div>




                <!--caja cerrada-->
                <div ng-if="!$ctrl.isOpen">
                    <label for="">Mensaje: {{$ctrl.detalles}}</label>
                </div>

                <!--caja abierta-->
                <div ng-if="$ctrl.isOpen">

                    <div class="input"><span class="descr">{{$ctrl.saldoFinal | currency}}</span><label>Saldo Final</label></div>

                    <div class="input" >
                        <label for="detalles">Detalles</label>
                        <textarea id="detalles" name="detalles" ng-model="$ctrl.detalles" ng-maxlength="3000"></textarea>

                    </div>
                    <div class="input">
                        <label for="saldoFinal">Saldo Real</label>

                        <input type="text" id="saldoFinal" step="0.01" ng-model="$ctrl.saldoFinalReal"
                               required>


                    </div>
                </div>

        </form>
    <div class="margin-top" style="text-align: -webkit-center">
        <button type="button" class="btn-agregar" ng-click="$ctrl.save();">
            {{(!$ctrl.isOpen)?'Abrir ':'Cerrar';}} Caja
        </button>
    </div>
</div>