<div class="container container-bgk container-padding">
    <h1 class="secciones">Abrir/Cerrar Caja</h1>
    <form id="abrirCerraCajaForm" class="container-form" form-id="mv-abrir-cerrar-caja">
        <!--caja cerrada-->
        <div class="mv-col gastos"  ng-if="!$ctrl.isOpen">
            <div class="input">
                <h3>¿Deseas abrir Caja?</h3>
            </div>

            <div class="input margin-top-big">
                <label >Saldo Inicial</label>
                <input type="text" value="{{$ctrl.saldoInicial | currency}}" />
            </div>

            <div class="input margin-top-big">
                <label>Mensaje: {{$ctrl.detalles}}</label>
            </div>
        </div>

        <!--caja abierta-->
        <div class="mv-col gastos"  ng-if="$ctrl.isOpen">
            <div class="input">
                <h3>¿Deseas cerrar Caja?</h3>
            </div>

            <div class="input margin-top-big">
                <label >Saldo Inicial</label>
                <input type="text" value="{{$ctrl.saldoInicial | currency}}" readonly/>
            </div>

            <div class="input">
                <label >Saldo Final</label>
                <input type="text" value="{{$ctrl.saldoFinal | currency}}" readonly/>
            </div>

            <div class="input">
                <label >Saldo Real</label>
                <input type="number" step="0.01" ng-model="$ctrl.saldoFinalReal"
                       mv-validator is-required="Debe ingresar un Saldo Real" id="saldoReal">
            </div>

            <div class="input">
                <label for="detalles">Detalles</label>
                <textarea id="detalles" name="detalles" ng-model="$ctrl.detalles" ng-maxlength="3000"
                          mv-validator is-required="El detalle es obligatorio"></textarea>
            </div>

        </div>

        <div class="botonera">
            <button class="boton-ok" mv-validator ng-click="$ctrl.save();" value="{{(!$ctrl.isOpen)?'Abrir ':'Cerrar';}} Caja">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>
    </form>

</div>