<h1 class="secciones">Cobros</h1>

<div class="container form-container container-bgk height-wrapper">
    <form id="cobrosForm" class="container-form" form-id="mv-cobros" ng-class="{'form-lista':$ctrl.showDelivery}">
        <div class="form-flex-center" style="max-width: 1000px; justify-content: space-between; flex-wrap: wrap">
            <div class="input">
                <label>Origen Ingreso</label>
                <select name="origenCobro" id="origenCobro" ng-model="$ctrl.origenCobro" class="input-small"
                        ng-options="origenCobro as origenCobro.nombre for origenCobro in $ctrl.origenesCobro">
                </select>
            </div>
            <div class="input">
                <label>Número</label>
                <input type="number" step="0.01" ng-model="$ctrl.numero" class="input-small"
                       placeholder="Número" id="numero">
            </div>
            <div class="input">
                <label>Producto</label>
                <mv-autocomplete fields-to-show="'nombre'"
                                 selected-to="$ctrl.producto"
                                 search-fields="'nombre,sku'"
                                 search-function="$ctrl.searchProducto(callback)"
                                 clear='$ctrl.clear'
                                 id="searchProducto"
                                 ng-blur="$ctrl.calc_disponible();"></mv-autocomplete>
            </div>

            <div class="input">
                <label>Cantidad</label>
                <input type="number" step="0.01" ng-model="$ctrl.cantidad" placeholder="Cantidad" class="input-small"
                       mv-validator is-required="Debe ingresar una cantidad" id="cantidad">
            </div>
        </div>

        <div  style="max-width: 1000px" class="form-flex-center">
            <div  style="width:100%" class="input">
                <input type="text" style="width: calc(100% - 20px);" ng-model="$ctrl.observaciones" ng-maxlength="100"
                       placeholder="Observaciones">
            </div>
        </div>


        <div class="botonera">
            <button class="boton-ok" mv-validator ng-click="$ctrl.agregarDetalle();">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>


        <div class="margin-top">
            <table style="max-width: 1000px">
                <thead>
                <tr>
                    <th>Destino</th>
                    <th>Producto</th>
                    <th>P. Unitario</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in $ctrl.detalles">
                    <td class="">{{$ctrl.origenCobro.nombre}}</td>
                    <td class="">{{row.producto_nombre}}</td>
                    <td class="">{{row.precio_unidad}}</td>
                    <td class="">{{row.cantidad}}</td>
                    <td class="">{{row.precio_total}}</td>
                    <td class="">
                        <button type="button" class="boton-eliminar btn-small" ng-click="$ctrl.removeDetalle(row)" title="Quitar">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="table-td">
                            <span>
                                <button class="paginacion-primera" ng-click="$ctrl.first();"></button>
                                <button class="paginacion-ant" ng-click="$ctrl.prev();"></button>
                            </span>
                            <span class="paginacion-paginas">
                                <span>{{'PAGE' | xlat}} {{$ctrl.pagina}} {{'OF' | xlat}} {{$ctrl.paginas}}</span>
                            </span>
                            <span class="paginacion-go-to">{{'GO_TO' | xlat}}
                                <input type="number" ng-model="$ctrl.pagina" ng-keyup="$ctrl.goToPagina();"
                                       class="input-paginacion">
                            </span>
                            <span>
                                <button class="paginacion-sig" ng-click="$ctrl.next();"></button>
                                <button class="paginacion-ultima"ng-click="$ctrl.last();"></button>
                            </span>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="margin-top">
            <div class="form-flex-center">
                <div class="input">
                    <label>Forma de Pago</label>
                    <select name="formaDePago1" id="formaDePago1" ng-model="$ctrl.formaDePago1"
                            ng-options="formaDePago as formaDePago.tipo for formaDePago in $ctrl.formasDePago">
                    </select>
                </div>

                <div class="input">
                    <label>Monto</label>
                    <input type="number" step="0.01" ng-model="$ctrl.paga_con_x"
                           placeholder="Monto 1" class="input-small">
                </div>

                <div class="input">
                    <label>Descuento %</label>
                    <input type="number" step="0.01" ng-model="$ctrl.desc_porc" class="input-small"
                           placeholder="Descuento %" ng-change="$ctrl.calc_a_cobrar('porc')">
                </div>

                <div class="input">
                    <label>Subtotal</label>
                    <input type="number" step="0.01" ng-model="$ctrl.total"
                           placeholder="Subtotal" class="input-small">
                </div>
            </div>

            <div class="form-flex-center">
                <div class="input">
                    <label>Forma de Pago</label>
                    <select name="formaDePago2" id="formaDePago2" ng-model="$ctrl.formaDePago2"
                            ng-options="formaDePago as formaDePago.tipo for formaDePago in $ctrl.formasDePago">
                    </select>
                </div>

                <div class="input">
                    <label>Monto</label>
                    <input type="number" step="0.01" ng-model="$ctrl.paga_con_y" class="input-small"
                           ng-change="$ctrl.paga_con_x = $ctrl.total - ($ctrl.paga_con_y <= 0 ? 0 : $ctrl.paga_con_y); $ctrl.paga_con_y = ($ctrl.paga_con_y <= 0 ? 0 : $ctrl.paga_con_y);$ctrl.validateMonto();"/>
                </div>

                <div class="input">
                    <label>Descuento $</label>
                    <input type="number" step="0.01" ng-model="$ctrl.desc_cant" class="input-small"
                           placeholder="Descuento $" ng-change="$ctrl.calc_a_cobrar('cant')">
                </div>

                <div class="input">
                    <label>A Cobrar</label>
                    <input type="number" step="0.01" ng-model="$ctrl.a_cobrar"
                           placeholder="A Cobrar" class="input-small">
                </div>
            </div>
        </div>

        <div class="botonera">
            <button class="btn-agregar" mv-validator ng-click="$ctrl.comanda();">Confirmar</button>
            <button class="btn-agregar" mv-validator ng-click="$ctrl.save();">Cobrar</button>
            <button class="btn-agregar" ng-click="$ctrl.delivery();">Delivery</button>
        </div>

    </form>

    <form class="form-abm" form-id="abm-detalle" ng-class="{'form-open':$ctrl.showDelivery}">
        <div class="detalle-container">
            <h2>Delivery #</h2>

            <div class="mv-col">
                <div class="input">
                    <label class="margin-top-small">Apellido</label>
                    <input id="apellido" type="text" ng-model="$ctrl.usuario.apellido"
                           placeholder="{{'LAST_NAME'|xlat}}" maxlength="20"/>
                </div>
                <div class="input">
                    <label class="margin-top-small">Nombre</label>
                    <input id="nombre" type="text" ng-model="$ctrl.usuario.nombre"
                           placeholder="{{'NAME'|xlat}}" maxlength="30"/>
                </div>
            </div>
            <div class="mv-col">
                <div class="input" data-tip="Teléfono - (xxx)xxx-xxxx / xxx-xxx-xxxx">
                    <label class="margin-top-small">Teléfono</label>
                    <input id="telefono" type="text" ng-model="$ctrl.usuario.telefono"
                           placeholder="{{'PHONE'|xlat}}" maxlength="15"/>
                </div>
                <div class="input">
                    <label class="margin-top-small">Mail</label>
                    <mv-autocomplete fields-to-show="'mail'"
                                     selected-to="$ctrl.usuario"
                                     search-fields="'mail'"
                                     search-function="$ctrl.searchCliente(callback)"
                                     clear='$ctrl.clear'
                                     id="searchCliente"></mv-autocomplete>
                </div>
            </div>
            <div class="mv-col">
                <div class="input">
                    <label class="margin-top-small">Dirección</label>
                    <input id="direccion" type="text" ng-model="$ctrl.usuario.direcciones[0].calle"
                           placeholder="{{'ADDRESS'|xlat}}" maxlength="100"/>
                </div>
                <div class="input">
                    <label class="margin-top-small">Número</label>
                    <input id="dir_nro" type="number" ng-model="$ctrl.usuario.direcciones[0].nro"
                           placeholder="Número" max="99999" />
                </div>
            </div>
            <div class="mv-col">
                <div class="input">
                    <label class="margin-top-small">Piso</label>
                    <input id="piso" type="text" ng-model="$ctrl.usuario.direcciones[0].piso"
                           placeholder="Piso" maxlength="4"/>
                </div>
                <div class="input">
                    <label class="margin-top-small">Puerta</label>
                    <input id="puerta" type="text" ng-model="$ctrl.usuario.direcciones[0].puerta"
                           placeholder="Puerta" maxlength="4"/>
                </div>
            </div>

            <div class="botonera">
                <button type="button" class="boton-ok" ng-click="$ctrl.saveDelivery();" title="Guardar">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button type="button" class="boton-cancelar" ng-click="$ctrl.showDelivery = false;" title="Cancelar">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>

</div>

